<div id='game'>
    <%if @lose %>
      <div class="alert alert-error"><%= @lose %></div>
    <% end %>
    <%if @win %>
      <div class="alert alert-success"><%= @win %></div>
    <% end %>
  <div class = "row">
      <h3>You bet $<%= session[:bet] %> on this round with $<%= session[:wallet] %> worth of chips left.</h3>
      
        <div id='dealer' class = "span5 well">
          <!--Display Dealers hand-->
          <% if session[:player_turn] %> <!--Hide dealers first card if true-->
                <h4>Dealer's hand</h4>

                <div class='row-fluid'>
                  <ul class='thumbnails'>
                    <li class='span3'>
                      <img id='cards' src='/images/cards/cover.jpg' class='thumbnail' style='width: 160px; height 234px'/>
                    </li>
                    <li class='span3'>
                      <%= conv_to_img(session[:dealer_hand][1]) %>
                    </li>
                  </ul>
                </div>

          <% else %>

            <h4>Dealer's hand (Total: <%= session[:dealer_total] %>)</h4>

                <div class='row-fluid'>
                  <ul class='thumbnails'>
                    <% session[:dealer_hand].each do |card|%>
                    <li class='span3'>
                      <%= conv_to_img(card) %>
                    </li>
                    <% end %>
                  </ul>
                </div>

          <% end %>
        

        <!--Hide button if it's players turn or the game is over -->
        <% if !session[:player_turn] and !session[:gameover] %>

          <p>Click to see dealers next move.</p>
          <form id='dealer_form' action='/game/hit' method='post'>
            <input type='submit' value='Next' class='btn btn-primary btn-medium'/>
          </form>

        <% end %>
      </div>

        <!--Display players hand-->
      <div id='player' class='span5 well'>
          <h4>Your hand (Total: <%= session[:player_total] %>)</h4>

          <div class='row-fluid'>
            <ul class='thumbnails'>

              <% session[:player_hand].each do |card|%>
              <li class='span3'>
                <%= conv_to_img(card) %>
              </li>
              <% end %>

            </ul>
          </div>

  <!--Button to hit and stay-->
      <% if !session[:gameover] %>

          <% if session[:player_turn] %>
              <p>Would you like to hit or stay?</p>
              <form id='hit_form' action='/game/hit' method='post'>
                <input type='submit' value='Hit' class='btn btn-success'/>
              </form>
              <form id= 'stay_form' action='/game/stay' method='post'>
                <input type='submit' value='Stay' class='btn btn-danger'/>
              </form>

          <% end %>


      <% else %>

            <p>Would you like to play again?</p>
            <form id='play_form' action='/bet' method='get'>
              <input type='submit' value='Yes' class='btn btn-success'/>
            </form>
            <form id ='end_form' action='/end' method='post'>
              <input type='submit' value='No' class='btn btn-danger'/>
            </form>

      <% end %>
      </div>
  </div>
</div>
